<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery.validate.js"></script>
    <script src="https://code.jquery.com/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
