@model GitRepoTask.Models.ProfileSearch

<div style="text-align:center;">
    <h2>Search GitHub Profile</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "searchForm" }))
    {
        <div style="display:block">
            @Html.TextBoxFor(p => p.Username, new { placeholder = "Github Username", id = "SearchModel_Username" })
            <button type="submit" id="ajaxSearchButton">Search</button>
        </div>
        @Html.ValidationMessageFor(p => p.Username, "", new { @class = "error-message"})
    }
    <div id="loadingIndicator" style="display:none;">Loading...</div>
    <div id="errorMessage" class="error-message" style="display: none;"></div>
</div>
<div id="profileContainer"></div>
@section scripts {
    <script src="~/Scripts/githubSearch.js"></script>
}