@model GitRepoTask.Models.GithubProfile

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Search GitHub Profile</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Enter GitHub username" required />
        <button type="submit">Search</button>
    </form>

    @if (Model != null)
    {
        @Html.Partial("_GitHubProfile", Model)
    }
</body>
</html>